<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>This app requires camera access for identity verification.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for video verification</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to verify your identity</string>
	<key>NFCReaderUsageDescription</key>
	<string>We need access to NFC for identity verification</string>
    <key>NSNFCScanUsageDescription</key>
    <string>We need access to NFC to scan your government-issued ID securely.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
    <key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
    <array>
        <string>A0000002471001</string>
        <string>A0000002472001</string>
        <string>00000000000000</string>
    </array>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library for identity verification</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
